{% extends 'base.html.twig' %}

{% block title %}Hello BarcodeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Generate your barcode from text!</h1>
    {% if message | default() %}
    <p>{{ message }}</p>
    {% endif %}
    {{ form(addBarcode) }}
    <br>
    {% if barcode | default(null) %}
        <div>
            <a href="{{ barcode.imageUrl }}" target="_blank">  <img src="{{ barcode.imageUrl }}" alt="{{ barcode.content }}"/> </a>
            <br>
            <span>{{ barcode.content }}</span>
        </div>
    {% endif %}

</div>
{% endblock %}
